<!-- nav -->
<header class="py-3 px-3 bg-gray-700 gray-300">
    <div class="container-lg container-xl d-grid grid-flow-col">
        <a class="text-decoration-none" href="{{ .Site.BaseURL }}">Cocobits</a>
        <div class="d-grid grid-flow-col d-justify-end gap-3">
            <a class="text-decoration-none text-weight-light" href="{{ .Site.BaseURL }}">Getting Started</a>
            <a class="text-decoration-none text-weight-light" href="https://github.com/mileeme/cocobits" target="_blank">Github</a>
        </div>
    </div>
</header>

<!-- Secondary Nav -->
<nav class="position-sticky top-0 zindex-02 blur-4 bg-opacity-white-7">
    <div class="py-2 px-3 border-bottom">
        <div class="container-lg container-xl"><span class="h5 text-weight-light">Design System Documentation</span>
        </div>
    </div>
</nav>